<app-card class="w-230 h-319" 
          [pokemonTypeName]="pokemon.types[0].type.name"
          [content]="porkemonCard"></app-card>

<ng-template #porkemonCard>
    <section class="w-full h-full flex flex-col item-center g-12">
        <img class="w-128 h-128" [src]="pokemon.sprites.other.showdown.front_default" alt="git pokemon">

        <h1 class="crimson-text-bold text-white text-20">{{pokemon.name | capitalize }}</h1>

        <div class="w-full flex flew-row justify-center g-10">
            @for (type of pokemon.types; track $index) {
                <img class="w-72 h-16" [src]="type.url" alt="Tipo de pokemon">
            }
        </div>

        <div class="w-full flex flew-row justify-center item-center g-20">
            <div class="flex flex-col item-center g-4">
                <p class="crimson-text-bold text-white text-16" >{{pokemon.height | decimetersToMeters}} M</p>

                <div class="flex flex-row item-center">
                    <app-icon [name]="'height'"></app-icon>
                    <p class="crimson-text-regular text-white text-14" >Altura</p>
                </div>
            </div>

            <div class="flex flex-col g-4">
                <p class="crimson-text-bold text-white text-16" >{{pokemon.weight | hectogramsToKilograms}} Kg</p>

                <div class="flex flex-row item-center">
                    <app-icon [name]="'weight'"></app-icon>
                    <p class="crimson-text-regular text-white text-14" >Peso</p>
                </div>
            </div>
        </div>

        <app-button-icon [icon]="'flash'" [title]="'Más Detalles'" (eventClick)="openDialog()"></app-button-icon>

    </section>
</ng-template>
