<ng-template #pokemonDetail>
    <section class="w-full h-687 grip grid-cols-2 p-16 scroll-element">
        <section class="w-full h-full flex flex-col item-center g-16">
            <img class="w-250 h-250" [src]="dataPokemon.sprites.other.dream_world.front_default" alt="git pokemon">
    
            <h1 class="crimson-text-bold text-white text-24">{{dataPokemon.name | capitalize }}</h1>
    
            <div class="w-full flex flex-row justify-center g-10">
                @for (type of dataPokemon.types; track $index) {
                    <img class="w-148 h-33" [src]="type.url" alt="Tipo de pokemon">
                }
            </div>

            <div class="w-full flex flex-col justify-center item-center">
                <h2 class="crimson-text-bold text-white text-20 text-aling-center">Información en la Pokedex</h2>
                @if (dataPokemon.pokemonSpecies) {
                    <p class="crimson-text-regular text-white text-20 text-aling-center" >{{dataPokemon.pokemonSpecies.flavor_text_entries[0].flavor_text}}</p>
                }
            </div>

            <div class="w-full flex flex-col justify-center item-center">
                <h2 class="crimson-text-bold text-white text-20 text-aling-center">Habilidades</h2>
                <div class="w-full flex flex-row justify-center g-10">
                    @for (item of dataPokemon.abilities ; track $index) {
                        <app-chips [iconn]="'check'" [title]="item.ability.name"></app-chips>
                    }
                </div>
            </div>

            <div class="w-full flex flex-col justify-center item-center">
                <h2 class="crimson-text-bold text-white text-20 text-aling-center">Experiencia base</h2>
                <p class="crimson-text-regular text-white text-20 text-aling-center" >{{dataPokemon.base_experience}} pt</p>
            </div>
    
            <div class="w-full flex flew-row justify-center item-center g-20">
                <div class="flex flex-col item-center g-4">
                    <div class="flex flex-row item-center">
                        <app-icon [name]="'height'"></app-icon>
                        <p class="crimson-text-bold text-white text-20" >Altura</p>
                    </div>

                    <p class="crimson-text-regular text-white text-20" >{{dataPokemon.height | decimetersToMeters}} M</p>
                </div>
    
                <div class="flex flex-col g-4">
                    <div class="flex flex-row item-center">
                        <app-icon [name]="'weight'"></app-icon>
                        <p class="crimson-text-bold text-white text-20" >Peso</p>
                    </div>

                    <p class="crimson-text-regular text-white text-20" >{{dataPokemon.weight | hectogramsToKilograms}} Kg</p>
                </div>
            </div>
    
        </section>
        <section class="w-full h-full flex flex-col item-center justify-center g-20">
            <div class="w-full flex flex-col justify-center item-center">
                <app-radar-skip-points class="w-full h-319" [labels]="labels" [data]="data" [datasets]="dataSets"></app-radar-skip-points>
            </div>

            <div class="w-full flex flex-col justify-center item-center g-16">
                <h2 class="crimson-text-bold text-white text-20 text-aling-center">Evolución</h2>
                <div class="w-full flex flex-row justify-center item-center g-4">
                    @for (pokem of dataPokemon.evolution; track $index) {
                        <div class="flex flex-col justify-center">
                            <img class="w-h-128" [src]="pokem.sprites.other.dream_world.front_default" alt="png pokemon">
                            <p class="crimson-text-regular text-white text-20 text-aling-center" >{{pokem.name}}</p>
                        </div>
                        @if (($index + 1) != dataPokemon.evolution.length  ) {
                            <app-icon class="w-30 h-30" [name]="'double-arrow'"></app-icon>
                        }
                    }
                </div>
            </div>
        </section>
    </section>
</ng-template>
