body{
    margin: 0 !important;
}

//background
.bg-900{
    background: #4e3e65;
}

.bg-purple-950{
    background: #322447 !important;
}

.bg-red-400-purple-900{
    background: linear-gradient(to bottom, #FF5757, #4e3e65);
}

.bg-gradient-normal{
    background: linear-gradient(to bottom, #ab88e430 20%, #A8A77A 140%);
}

.bg-gradient-fighting{
    background: linear-gradient(to bottom, #ab88e430 20%, #C22E28 140%);
}

.bg-gradient-flying{
    background: linear-gradient(to bottom, #ab88e430 20%, #A98FF3 140%);
}

.bg-gradient-poison {
    background: linear-gradient(to bottom, #ab88e430 20%, #A33EA1 140%); 
}

.bg-gradient-ground {
    background: linear-gradient(to bottom, #ab88e430 20%, #E2BF65 140%); 
}

.bg-gradient-rock {
    background: linear-gradient(to bottom, #ab88e430 20%, #B6A136 140%); 
}

.bg-gradient-bug {
    background: linear-gradient(to bottom, #ab88e430 20%, #A6B91A 140%); 
}

.bg-gradient-ghost {
    background: linear-gradient(to bottom, #ab88e430 20%, #735797 140%); 
}

.bg-gradient-steel {
    background: linear-gradient(to bottom, #ab88e430 20%, #B7B7CE 140%); 
}

.bg-gradient-fire {
    background: linear-gradient(to bottom, #ab88e430 20%, #FF5757 140%); 
}

.bg-gradient-water {
    background: linear-gradient(to bottom, #ab88e430 20%, #6390F0 140%); 
}

.bg-gradient-grass {
    background: linear-gradient(to bottom, #ab88e430 20%, #7AC74C 140%); 
}

.bg-gradient-electric {
    background: linear-gradient(to bottom, #ab88e430 20%, #FFCC00 140%); 
}

.bg-gradient-psychic {
    background: linear-gradient(to bottom, #ab88e430 20%, #F95587 140%); 
}

.bg-gradient-ice {
    background: linear-gradient(to bottom, #ab88e430 20%, #96D9D6 140%); 
}

.bg-gradient-dragon {
    background: linear-gradient(to bottom, #ab88e430 20%, #6F35FC 140%); 
}

.bg-gradient-dark {
    background: linear-gradient(to bottom, #ab88e430 20%, #705898 140%);
}

.bg-gradient-fairy {
    background: linear-gradient(to bottom, #ab88e430 20%, #D685AD 140%);
}

.bg-gradient-stellar {
    background: linear-gradient(to bottom, #ab88e430 20%, #FFD700 140%);
}

.bg-gradient-unknown {
    background: linear-gradient(to bottom, #ab88e430 20%, #000000 140%);
}

// width and height
.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.w-72{
    width: 4.5rem;
}

.w-79{
    width: 4.938rem;
}

.w-128{
    width: 8rem;
}

.w-135{
    width: 8.438rem;
}

.w-223{
    width: 13.938rem;
}

.w-230{
    width: 14.375rem;
}

.w-290{
    width: 18.125rem;
}

.w-980{
    width: 61.25rem;
}

.h-16{
    height: 1rem;
}

.h-30{
    height: 1.875rem !important;
}

.h-79{
    height: 4.938rem;
}

.h-128{
    height: 8rem;
}

.h-152{
    height: 9.5rem;
}

.h-319{
    height: 19.938rem;
}

//diplay

.grip{
    display: grid;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

// position 

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}


// index 

.z-1000{
    z-index: 1000;
}

// left ringhy top bottom

.l-53-3{
    left: 53.3%;
}

.t-2{
    top: 2%;
}

// border

.rounder-5{
    border-radius: 0.313rem !important;
}

.rounder-15{
    border-radius: 0.938rem !important;
}

.border-none{
    border-width: 0 !important;
}

// gap
.g-4{
    gap: 0.25rem;
}

.g-10{
    gap: 0.625rem;
}

.g-12{
    gap: 0.75rem;
}

.g-20{
    gap: 1.25rem;
}


// Grid Template Columns

.grid-cols-4{
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

// margin

.m-y-20{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

// padding
.p-x-20{
    box-sizing: border-box;
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
}

// font
.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 !important;
}
  
.crimson-text-semibold {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
    margin: 0 !important;
}
  
.crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    margin: 0 !important;
}

// text

.text-white{
    color: white;
}

.text-12{
    font-size: 0.75rem;
}

.text-14{
    font-size: 0.875rem;
}

.text-16{
    font-size: 1rem;
}

.text-20{
    font-size: 1.25rem;
}